<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cases</title>
</head>
<body>
<form th:action="@{/components/cases}" method="get">
  <label for="sortBy">Sort By</label>
  <select th:value="${sortBy}" name="sortBy" id="sortBy" size="1">
    <option>Name</option>
    <option>Price</option>
    <option>Size</option>
  </select>
  <select th:value="${order}" name="order" id="order" size="1">
    <option>Ascending</option>
    <option>Descending</option>
  </select>
  <button type="submit">Sort</button>
</form>
<ul>
  <li th:each="case : ${cases}" th:if="${case.price > 0.0}">
    <p th:text="'Name: ' + ${case.name}"></p>
    <p th:text="'Price: £' + ${#numbers.formatDecimal(case.price, 0, 'COMMA', 2, 'POINT')}"></p>
    <p th:text="'Type: ' + ${case.type}"></p>
    <p th:text="'Colour: ' + ${case.color}"></p>
    <p th:text="'Side Panel: ' + ${case.side_panel}"></p>
    <p>External Volume:
      <span th:text="${case.externalVolume > 0.0} ? ${case.externalVolume} + 'L' : 'Unavailable'"></span>
    </p>
    <p th:text="'Internal 3.5-inch Bays: ' + ${case.internal_35_bays}"></p>
    <form th:action="@{/products/create}" method="get" th:object="${componentIds}" th:if="${componentIds != null}">
      <input type="hidden" th:value="${case.id}" name="caseId">
      <button>Select</button>
    </form>
  </li>
</ul>
</body>
</html>