<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cases</title>
</head>
<body>
<form th:action="@{/components/cases/sort}" method="get">
  <label for="sortBy">Sort By</label>
  <select th:value="${sortBy}" name="sortBy" id="sortBy" size="1">
    <option>Name</option>
    <option>Price</option>
    <option>Size</option>
  </select>
  <select th:value="${order}" name="order" id="order" size="1">
    <option>Ascending</option>
    <option>Descending</option>
  </select>
  <button type="submit">Sort</button>
</form>
<ul>
  <li th:each="case : ${cases}" th:if="${case.price > 0.0}">
    <p th:text="'Name: ' + ${case.name}"></p>
    <p th:text="'Price: £' + ${case.price}"></p>
    <p th:text="'Type: ' + ${case.type}"></p>
    <p th:text="'Colour: ' + ${case.color}"></p>
    <p th:text="'Side Panel: ' + ${case.side_panel}"></p>
    <p th:text="'External Volume: ' + ${case.externalVolume} + 'L'"></p>
    <p th:text="'Internal 3.5-inch Bays: ' + ${case.internal_35_bays}"></p>
  </li>
</ul>
</body>
</html>