<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Graphics Cards</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css">
</head>
<body>
<form th:action="@{/components/graphics-cards}" method="get">
  <p>
    <label for="sortBy">Sort By</label>
    <select th:value="${sortBy}" name="sortBy" id="sortBy" size="1">
      <option>Name</option>
      <option>Price</option>
      <option>Core Clock</option>
    </select>
    <select th:value="${order}" name="order" id="order" size="1">
      <option>Ascending</option>
      <option>Descending</option>
    </select>
  </p>
  <p>
    <label for="filterBy">Filter</label>
    <select th:value="${filterBy}" name="filterBy" id="filterBy" size="1" onchange="checkFilterBy(this);">
      <option>(No filter)</option>
      <option>Price</option>
      <option value="GPU clock speed">Core clock speed</option>
      <option value="GPU brand">Brand</option>
    </select>
    <select th:value="${filterOp}" name="filterOp" id="filterOp" size="1">
      <option class="numberFilterOption">at least</option>
      <option class="numberFilterOption">at most</option>
      <option class="brandFilterOption">NVIDIA</option>
      <option class="brandFilterOption">AMD</option>
    </select>
    <label id="priceFilterLabel" class="filterLabel" for="numberFilter">£</label>
    <input type="number" th:value="${numberFilter}" name="numberFilter" id="numberFilter" step="any">
    <label id="gpuClockFilterLabel" class="filterLabel" for="numberFilter">MHz</label>
  </p>
  <p>
    <button type="submit">Go</button>
  </p>
</form>
<ul>
  <li th:each="graphics_card : ${graphics_cards}" th:if="${graphics_card.price > 0.0}">
    <p th:text="'Name: ' + ${graphics_card.name}"></p>
    <p th:text="'Price: £' + ${#numbers.formatDecimal(graphics_card.price, 0, 'COMMA', 2, 'POINT')}"></p>
    <p th:text="'Chipset: ' + ${graphics_card.chipset}"></p>
    <p th:text="'Memory: ' + ${graphics_card.memory} + 'GB'"></p>
    <p>Core Clock Speed:
      <span th:text="${graphics_card.coreClock > 0.0} ? ${graphics_card.coreClock} + 'MHz' : 'Unavailable'"></span>
    </p>
    <p>Boosted Clock Speed:
      <span th:text="${graphics_card.boost_clock > 0.0} ? ${graphics_card.boost_clock} + 'MHz' : 'N/A'"></span>
    </p>
    <p>Colour:
      <span th:text="${graphics_card.color != null} ? ${graphics_card.color} : 'N/A'"></span>
    </p>
    <p>Length:
      <span th:text="${graphics_card.length > 0} ? ${graphics_card.length} + 'mm' : 'Unavailable'"></span>
    </p>
    <form th:action="@{/components/add-to-product}" method="post" th:object="${componentIds}" th:if="${componentIds != null}">
      <input type="hidden" th:value="${graphics_card.id}" name="graphicsCardId">
      <button>Select</button>
    </form>
  </li>
</ul>
</body>
<script th:src="@{/js/filterDisplay.js}"></script>
</html>