<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internal Storage Devices</title>
</head>
<body>
<form th:action="@{/components/internal-storage}" method="get">
  <label for="sortBy">Sort By</label>
  <select th:value="${sortBy}" name="sortBy" id="sortBy" size="1">
    <option>Name</option>
    <option>Price</option>
    <option>Capacity</option>
  </select>
  <select th:value="${order}" name="order" id="order" size="1">
    <option>Ascending</option>
    <option>Descending</option>
  </select>
  <button type="submit">Sort</button>
</form>
<ul>
  <li th:each="internal_storage : ${internal_storages}" th:if="${internal_storage.price > 0.0}">
    <p th:text="'Name: ' + ${internal_storage.name}"></p>
    <p th:text="'Price: £' + ${#numbers.formatDecimal(internal_storage.price, 0, 'COMMA', 2, 'POINT')}"></p>

    <p>Capacity: <span th:text=" ${internal_storage.capacity/1000 < 1} ? ${internal_storage.capacity} + 'GB' : ${internal_storage.capacity/1000} + 'TB'"></span></p>

    <p>Price per GB: <span th:text="${internal_storage.price_per_gb > 0.0} ? '£' + ${internal_storage.price_per_gb} : 'Unavailable'"></span></p>
    <p th:text="'Type: ' + ${internal_storage.type}"></p>
    <p>Cache: <span th:text="${internal_storage.cache > 0} ? ${internal_storage.cache} + 'MB' : 'Unavailable'"></span></p>
    <p th:text="'Form Factor: ' + ${internal_storage.form_factor}"></p>
    <form th:action="@{/components/add-to-product}" method="post" th:object="${componentIds}" th:if="${componentIds != null}">
      <input type="hidden" th:value="${internal_storage.id}" name="internalStorageId">
      <button>Select</button>
    </form>
  </li>
</ul>
</body>
</html>