<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Power Supplies</title>
</head>
<body>
<form th:action="@{/components/power-supplies}" method="get">
  <p>
    <label for="sortBy">Sort By</label>
    <select th:value="${sortBy}" name="sortBy" id="sortBy" size="1">
      <option>Name</option>
      <option>Price</option>
      <option>Wattage</option>
    </select>
    <select th:value="${order}" name="order" id="order" size="1">
      <option>Ascending</option>
      <option>Descending</option>
    </select>
  </p>
  <p>
    <label for="filterBy">Filter</label>
    <select th:value="${filterBy}" name="filterBy" id="filterBy" size="1" onchange="checkFilterBy(this);">
      <option>(No filter)</option>
      <option>Price</option>
    </select>
    <select th:value="${filterOp}" name="filterOp" id="filterOp" size="1">
      <option>at least</option>
      <option>at most</option>
    </select>
    <label id="priceFilterLabel" for="numberFilter">£</label>
    <input type="number" th:value="${numberFilter}" name="numberFilter" id="numberFilter" step="any">
  </p>
  <p>
    <button type="submit">Go</button>
  </p>
</form>
<ul>
  <li th:each="power_supply : ${power_supplies}" th:if="${power_supply.price > 0.0}">
    <p th:text="'Name: ' + ${power_supply.name}"></p>
    <p th:text="'Price: £' + ${#numbers.formatDecimal(power_supply.price, 0, 'COMMA', 2, 'POINT')}"></p>
    <p th:text="'Type: ' + ${power_supply.type}"></p>
    <p>Efficiency: <span th:text="${power_supply.efficiency != null} ? '80+ ' + ${#strings.capitalize(power_supply.efficiency)} : 'Unavailable'"></span></p>
    <p th:text="'Wattage: ' + ${power_supply.wattage} + 'W'"></p>
    <p th:text="'Modular: ' + ${power_supply.modular}"></p>
    <p>Colour: <span th:text="${power_supply.color != null} ? ${power_supply.color} : 'N/A'"></span></p>
    <form th:action="@{/components/add-to-product}" method="post" th:object="${componentIds}" th:if="${componentIds != null}">
      <input type="hidden" th:value="${power_supply.id}" name="powerSupplyId">
      <button>Select</button>
    </form>
  </li>
</ul>
</body>
<script th:src="@{/js/filterDisplay.js}"></script>
</html>