<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Newegg Price Comparison</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css">
</head>
<body>

<div th:replace="~{navbar :: navbar}"></div>

    <h1>Newegg Pre-built PC Prices</h1>

<form action="/pricecomparison" method="get">
    <input type="text" name="search" placeholder="Search by GPU, CPU, etc...">
    <button type="submit">Search</button>
</form>

<hr>

<table>
    <thead>
    <tr>
        <th>PC Name</th>
        <th>CPU</th>
        <th>CPU Price</th>
        <th>Graphics Card</th>
        <th>Graphics Card Price</th>
        <th>Memory</th>
        <th>Memory Price</th>
        <th>Internal Storage</th>
        <th>Internal Storage Price</th>
        <th>Total Price</th>
        <th>Newegg Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pcData : ${pcComparisonData}">
        <td th:text="${pcData.pcName}"></td>
        <td th:text="${pcData.cpuName}?:''"></td>
        <td th:text="${pcData.cpuPrice}?:''"></td>
        <td th:text="${pcData.graphicsCardName}?:''"></td>
        <td th:text="${pcData.graphicsCardPrice}?:''"></td>
        <td th:text="${pcData.memoryName}?:''"></td>
        <td th:text="${pcData.memoryPrice}?:''"></td>
        <td th:text="${pcData.internalStorageName}?:''"></td>
        <td th:text="${pcData.internalStoragePrice}?:''"></td>
        <td th:text="${pcData.totalComponentPrice}"></td>
        <td th:text="${pcData.neweggPrice}"></td>
    </tr>
    </tbody>
</table>

</body>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        const toggleButton = document.querySelector('.dropdown-toggle');
        const dropdown = document.getElementById('componentsDropdown');

        toggleButton.addEventListener('click', () => {
            const isVisible = dropdown.style.display === 'block';
            dropdown.style.display = isVisible ? 'none' : 'block';
        });

        window.addEventListener('click', (event) => {
            if (!toggleButton.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.style.display = 'none';
            }
        });
    });

</script>
</html>