<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Orders</title>
  <link rel="stylesheet" href="/css/order_table.css">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Orders</h1>

<table>
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Expected Delivery</th>
    <th>Order Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.product.name}"></td>
    <td th:text="${order.orderTime}"></td>
    <td th:text="${order.expectedDeliveryTime}"></td>
    <td th:text="${order.quantity}"></td>
    <td th:text="${order.isOpen} ? 'Pending' : 'Delivered'"
        th:classappend="${order.isOpen} ? 'status-pending' : 'status-delivered'">
    </td>

  </tr>
  </tbody>
</table>

</body>
<script>

  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.querySelector('.dropdown-toggle');
    const dropdown = document.getElementById('componentsDropdown');

    toggleButton.addEventListener('click', () => {
      const isVisible = dropdown.style.display === 'block';
      dropdown.style.display = isVisible ? 'none' : 'block';
    });

    window.addEventListener('click', (event) => {
      if (!toggleButton.contains(event.target) && !dropdown.contains(event.target)) {
        dropdown.style.display = 'none';
      }
    });
  });

</script>
</html>