<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/order_table.css">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1 th:text="${shipper.facility_name}">Shipper Name</h1>

<table>
  <tr>
    <th>Phone</th>
    <td th:text="${shipper.contact_phone}">N/A</td>
  </tr>
  <tr>
    <th>Website</th>
    <td>
      <a th:href="${shipper.contact_url}" th:text="${shipper.contact_url}">Website</a>
    </td>
  </tr>
  <tr>
    <th>Address</th>
    <td th:text="${shipper.formatted_address}">Address</td>
  </tr>
  <tr>
    <th>Coordinates</th>
    <td>
      <span th:text="${shipper.lat}">Lat</span>, <span th:text="${shipper.lon}">Lon</span>
    </td>
  </tr>
  <tr>
    <th>Operating Hours</th>
    <td th:text="${shipper.operating_hours}">Hours</td>
  </tr>
  <tr>
    <th>Category</th>
    <td th:text="${shipper.place_category}">Category</td>
  </tr>
</table>

</body>

<script>

  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.querySelector('.dropdown-toggle');
    const dropdown = document.getElementById('componentsDropdown');

    toggleButton.addEventListener('click', () => {
      const isVisible = dropdown.style.display === 'block';
      dropdown.style.display = isVisible ? 'none' : 'block';
    });

    window.addEventListener('click', (event) => {
      if (!toggleButton.contains(event.target) && !dropdown.contains(event.target)) {
        dropdown.style.display = 'none';
      }
    });
  });

</script>
</html>